@import url(https://fonts.googleapis.com/css?family=Varela+Round);
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: #383A3F;
  font-family: "Varela Round", sans-serif;
}
.home{
    margin-left:390px;
    margin-right:auto;
    margin-top: 140px;

}
.card {
  background: #1F2124;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  margin: 50px 20px 20px 20px;
  width: calc(33.3333% - 40px);
  /* 1/3 minus the margins (20+20) */
  padding: 20px;
  text-align: center;
  color: white;
  float: left;
}
@media (max-width: 768px) {
  .card {
    margin: 10px 20px;
    width: calc(100% - 40px);
  }
  .card:first-child {
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .card:nth-child(2) {
    margin: 10px 20px;
    width: calc(100% - 40px);
  }
}
.card .title {
  font-size: 25px;
}
.card .icon {
  margin: 50px 0;
}
.card .icon svg {
  width: 100px;
  height: 100px;
}
.card .icon svg path {
  fill: #F6B352;
}
.card .features ul {
  padding: 0;
  margin: 20px 0 50px 0;
  list-style-type: none;
}
.card .features ul li {
  margin: 10px 0;
  font-size: 14px;
}
.card .features ul li span {
  border-bottom: 2px dotted #F6B352;
}
.card .btn {
  display: block;
  background: #F6B352;
  color: white;
  padding: 15px 20px;
  margin: 20px 0;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.9);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  text-decoration: none;
}
.card .btn:hover {
  background: #F68657;
}
