h1 {
    color: white;
  
    font-size: 35px !important;
    font-weight: 800;
  }
  
  .flex-container {
    width: 100vw;
  
    margin-top: 60px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content-container {
    width: 500px;
    height: 350px;
  }
  
  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 500px;
    height: 350px;
  
    margin-top: 5px;
    padding-top: 20px;
  
    border-radius: 12px;
  
    display: flex;
    justify-content: center;
    flex-direction: column;
  
    background: #1f1f1f;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.199);
  }
  
  .subtitle {
    font-size: 11px;
  
    color: rgba(177, 177, 177, 0.3);
  }
  
  input {
    border: none;
    border-bottom: solid rgb(143, 143, 143) 1px !important;
  
    margin-bottom: 30px;
  
    background: none;
    color: rgba(255, 255, 255, 0.555);
  
    height: 35px;
    width: 300px;
  }
  
  .submit-btn {
    cursor: pointer;
  
    border: none;
    border-radius: 8px;
  
    box-shadow: 2px 2px 7px #38d39f70;
  
    background: #38d39f;
    color: rgba(255, 255, 255, 0.8);
  
    width: 80px;
  
    transition: all 1s;
  }
  
  .submit-btn:hover {
    color: rgb(255, 255, 255);
  
    box-shadow: none;
  }
  